DROP TABLE Students;
CREATE TABLE Students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
);
INSERT INTO Students (name, age, grade)
VALUES ('Alice', 20, 'A'),
       ('Bob', 21, 'B'),
       ('Charlie', 19, 'A');

SELECT * FROM Students;

SELECT * FROM Students ORDER BY name ASC;

UPDATE Students SET grade = 'B+' WHERE name = 'Alice';

DELETE FROM Students WHERE name = 'Bob';

SELECT * FROM Students ORDER BY name DESC;